.NewForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__question-btn {
        margin-bottom: 35px;
        width: 80%;
        height: 40px;
        outline: none;
        background: #16324f;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        border: none;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        transition: 0.4s ease-in;
        cursor: pointer;

        &:hover {
            background: #084786;
        }
    }

    &__questions {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        button {
            align-self: start;
            width: 90px;
            height: 25px;
            font-size: 13px;
            margin-top: 7px;
            background: #16324f;
            cursor: pointer;
            &:hover {
                background: #084786;
                color: #fff;
            }
        }
    }

    &__container {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        padding: 25px;
    }

    &__form {
        position: relative;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        input {
            width: 100%;
            height: 40px;
            padding: 0 15px;
            background: transparent;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 10px;
            outline: none;
            transition: 0.4s ease-in;

            &:focus {
                border: 1px solid #1966b3;
                color: #1966b3;
            }
        }
    }

    &__input-box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        label {
            position: absolute;
            background: #fff;
            top: -9px;
            left: 0px;
        }
    }

    &__title {
        font-size: 32px;
        font-weight: 700;
        margin: 0 0 20px 0;
    }

    &__text {
        font-size: 16px;
        text-align: center;
        margin-bottom: 15px;
        span {
            color: #05a3ff;
        }
    }

    &__btn {
        margin-top: 10px;
        width: 100%;
        height: 40px;
        outline: none;
        background: #1966b3;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        border: none;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        transition: 0.4s ease-in;
        cursor: pointer;

        &:hover {
            background: #70b8ff;
            color: #000;
        }
    }
}
