
.error{
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    
}

.SignIn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__container{
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        padding: 25px;
    }

    &__form{
        position: relative;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;


        input{
            width: 100%;
            height: 40px;
            padding: 0 30px;
            background: transparent;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 10px;
            outline: none;
            transition: .4s ease-in;
            &.errored{
                border: 1px solid red;
                &::placeholder{
                    color: red;
                }
            }

            &:focus{
                border: 1px solid #1966b3;
                color: #1966b3;
                &::placeholder{
                    color: #1966b3;
                }

            }

            &::placeholder{
                font-size: 14px;
                transition: .4s ease-in;
            }
        }
    }

    &__input-box{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        i{
            position: absolute;
            top: 12px;
            left: -23px;
            text-align: left;
            align-self: flex-start;
            
        }

    }

    &__title{
        font-size: 32px;
        font-weight: 700;
        margin: 0 0 25px 0;

    }

    &__text{
        font-size: 16px;
        text-align: center;
        span{
            color: #05a3ff;
        }
    }

    &__select{
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        label{
            font-size: 16px;
        }

        select{
            height: 30px;
            padding: 0 15px;
            background: transparent;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 10px;
            outline: none;
            transition: .4s ease-in;
            color: #000;
            cursor: pointer;
            &:focus{
                border: 1px solid #1966b3;
            }
        }
       
    }

    &__link{
        text-align: center;
        margin-top: 25px;
        a{
            color:#1966b3;
            &:hover{
                color:#70b8ff;
                text-decoration: none;
            }
        }
    }

    &__btn{
        margin-top: 35px;
        width: 100%;
        height: 40px;
        outline: none;
        background: #1966b3;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        border: none;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        transition: .4s ease-in;

        &:hover{
            background: #70b8ff;
            color: #000;
        }

        &:disabled{
            cursor: not-allowed;
            opacity: .7;
            background: #5e656b;
            &:hover{
                background: #5e656b;
                color: #fff;
            }
        }

    }
}